<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artist.images | noimage" alt="" class="rounded-circle img-fluid">
    </div>
    <div class="col-md-9">
      <h1>{{ artist.name }}</h1>
      <hr>
      <button type="button" name="button" class="btn btn-outline-danger"  [routerLink]="['/search']">Regresar</button>
      <a role="button" class="btn btn-outline-secondary" [href]="artist.external_urls?.spotify" target="_blank">Ir al Artista</a>
    </div>
  </div>
</div>
<div class="container top30">
  <h3>Top Tracks</h3>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Popularidad</th>
        <th scope="col">Escuchar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of topTracks; let i = index">
        <td> {{ i + 1}} </td>
        <td>
          <img [src]="track.album.images[2].url" alt="" class="rounded-circle">
        </td>
        <td>
          {{ track.name }}
        </td>
        <td>
          {{ track.popularity }}
        </td>
        <td>
          <!-- <audio controls>
            <source [src]="track.preview_url" >
            Muy Viejo
          </audio> -->
          <iframe [src]="track.uri | safedom:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
        </td>
      </tr>
  </table>
</div>
