  <h1>Search's Results for: <small>{{ q }}</small></h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert" *ngIf="heroes.length == 0">
        No Search Results for: {{ q }}
      </div>
    </div>
  </div>
  <div class="card-columns" >
    <div class="card p-3 animated fadeIn fast " *ngFor="let hero of heroes" >
      <img class="card-img-top" [src]="hero.img" [alt]="hero.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ hero.nombre }}</h5>
        <p class="card-text">{{ hero.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ hero.aparicion }}</small></p>
      </div>
    </div>

  </div>
