<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Search Artist</label>
      <input type="text"
             placeholder="Search..."
             class="form-control"
             (keyup.enter)="searchArtists()"
             [(ngModel)]="termino">
    </div>
    <div class="col-md-9" *ngIf="termino.length > 1">
      <h1 class="text-capitalize">{{ termino }}</h1>
      <hr>
      <div class="row">
        <div class="col-md-3"
             *ngFor="let artist of _spotifyService.artists"
        >
          <img [src]="artist.images | noimage"
               class="img-thumbnail puntero"
               [alt]="artist.name"
               [routerLink]="['/artist',artist.id]">
               <p>
                 {{ artist.name }}
               </p>
        </div>
      </div>
    </div>
  </div>
</div>
