<div class="row">
  <div class="col-md-4">
    <h3>Select Images</h3>
    <div class="well drop-zone"
         appNgDropFiles
         [files]="files"
         (mouseOver)="fileOver( $event )"
         [ngClass]="{ 'file-over': overElement }" >
      <h4>Drop the image here</h4>
      <img src="assets/images/drop-images.png">
    </div>
  </div>
  <div class="col-md-8">
    <h4>Load Files</h4>
    <button class="btn btn-success" (click)="loadImages()" [disabled]="files.length === 0"> Load </button>
    <button class="btn btn-danger" (click)="deleteFiles()"> Clear </button>

    <table class="table">
      <thead class="thead-dark">
        <th>Filename</th>
        <th>Size</th>
        <th>Progress</th>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td [ngClass]="{ 'text-green': file.progress == 100 }" >{{ file.filename }}</td>
          <td>{{ file.file.size /1024 /1024 | number:'.2-2' }} Mb</td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width.%]="file.progress"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
