<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ nombre }}</th>
        <td>uppercase</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>
      <tr>
        <th>{{ nombre }}</th>
        <td>lowercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>
      <tr>
        <th>{{ nombre }}</th>
        <td>slice:3</td>
        <td>{{ nombre | slice:3 }}</td>
      </tr>
      <tr>
        <th>{{ nombre }}</th>
        <td>slice:0:3</td>
        <td>{{ nombre | slice:0:3 }}</td>
      </tr>
      <tr>
        <th>{{ arreglo }}</th>
        <td>slice:1:5</td>
        <td>{{ arreglo | slice:1:5 }}</td>
      </tr>
      <tr>
        <th>{{ PI }}</th>
        <td>number:'3.0-0'</td>
        <td>{{ PI | number:'3.0-0' }}</td>
      </tr>
      <tr>
        <th>{{ PI }}</th>
        <td>number:'1.0-2'</td>
        <td>{{ PI | number:'1.0-2' }}</td>
      </tr>
      <tr>
        <th>{{ percent }}</th>
        <td>percent</td>
        <td>{{ percent | percent }}</td>
      </tr>
      <tr>
        <th>{{ percent }}</th>
        <td>percent:'2.2-2'</td>
        <td>{{ percent | percent:'2.2-2' }}</td>
      </tr>
      <tr>
        <th>{{ money }}</th>
        <td>currency</td>
        <td>{{ money | currency }}</td>
      </tr>
      <tr>
        <th>{{ money }}</th>
        <td>currency:'EUR'</td>
        <td>{{ money | currency:'EUR':'symbol' }}</td>
      </tr>
      <tr>
        <th>{{ money }}</th>
        <td>currency:'VEF':'symbol-narrow'</td>
        <td>{{ money | currency:'VEF':'symbol-narrow' }}</td>
      </tr>
      <tr>
        <th>{{ money }}</th>
        <td>currency:'VEF':'symbol-narrow':'5.3-3'</td>
        <td>{{ money | currency:'VEF':'symbol-narrow':'5.3-3' }}</td>
      </tr>
      <tr>
        <th>{{ money }}</th>
        <td>number:'.2-2'</td>
        <td>{{ money | number:'.2-2' }}</td>
      </tr>
      <tr>
        <th>{{ valorPromesa }}</th>
        <td>async</td>
        <td>{{ valorPromesa | async }}</td>
      </tr>
      <tr>
        <th>{{ date }}</th>
        <td>date</td>
        <td>{{ date | date }}</td>
      </tr>
      <tr>
        <th>{{ date }}</th>
        <td>date</td>
        <td>{{ date | date:'shortDate' }}</td>
      </tr>
      <tr>
        <th>{{ date }}</th>
        <td>date</td>
        <td>{{ date | date:'y-MM-dd' }}</td>
      </tr>
      <tr>
        <th>{{ nombreSinFormato }}</th>
        <td>capitalize</td>
        <td>{{ nombreSinFormato | capitalize }}</td>
      </tr>
      <tr>
        <th>{{ nombre }}</th>
        <td>password:{{ passwordActive }} <button class="btn btn-outline-primary" (click)="activatePassword()">Activar / Desactivar</button></td>
        <td>{{ nombre | password:passwordActive }}</td>
      </tr>

    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
  </ul>

  <h4>JSON</h4>
  <pre>{{ heroes | json }}</pre>

  <h4>Youtube</h4>
  <iframe width="420" height="315" [src]="video | safedom:'https://www.youtube.com/embed/'"></iframe>

</div>
