/* You can add global styles to this file, and also import other style files */
.main-container{
  margin-top: 56px;
}

.div-img-1{
  background-size: cover;
  position: relative;
  height: 250px;
}
.div-img-2{
  background-size: cover;
  position: relative;
  height: 180px;
}

.movies > .row{
  margin-bottom: 20px;
}

.top-10{
  padding-top: 10px;
}

.div-img-1 h3, .div-img-2 > h3 {
  position: absolute;
  bottom: 5px;
  display: inline;
  padding: 5px 8px;
  font-size: 1.1em;
  color: rgb(247, 247, 247);
  font-weight: normal;
  background-color: rgba(0,0,0,.7);
}
